{% extends 'base.html' %}
{% block content %}

<div class="card text-center">
    <div class="card-body">
        <h1>Welcome</h1>
        <a href="{% url 'polls:index' %}" class="btn btn-dark">View Available polls</a>
    </div>
</div>
{% endblock %}